<div class="how_we_work_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="work_info">
                    <div class="section_title">
                        <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Como trabajamos</h3>
                        <p class="mid_text wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">“Fefe ujmkil opertuj kuiterf gas de frytle."</p>
                        <p class="last_p wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">I'm baby subway tile slow-carb ex, humblebrag fashion axe church-key in ipsum labore plaid pitchfork minim. .</p>
                    </div>
                    <div class="video_watch d-flex align-items-center">
                        <div class="play_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                            <a href="https://www.youtube.com/watch?v=D7tF-cY2M9o" class="video_icon popup-video"> <i class="fa fa-play"></i> </a>
                        </div>
                       <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s"> Watch Video</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>