<div class="about_area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-5 offset-lg-1">
                <div class="about_info">
                    <div class="section_title white_text">
                        <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Sobre Nosotros</span>
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">Trabajando Siempre </h3>
                        <p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum..</p>
                        <p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu".</p>
                        <!-- <a href="#" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">About Us</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>